<a class="transition-all block border-t py-2 hover:bg-primary/50" href="{{ url }}" title="{{ title }}">
  <div class=" hidden sm:flex flex-nowrap">
    <div class="w-[20%] px-2 py-1">
      {{ if dates:start == dates:end }}
      {{ dates.start | format('d.m.y') }}
      {{ else }}
      {{ dates.start | format('d.m') }} - {{ dates.end | format('d.m.y') }}
      {{ /if }}
    </div>
    <div class="w-[50%] px-2 py-1">
      {{ title }}
    </div>
    <div class="w-[15%] px-2 py-1">
      {{ location }}
    </div>
    <div class="w-[15%] px-2 py-1">
      {{ groups }}
    </div>
  </div>
  <dl class="grid grid-cols-[max-content_auto] gap-x-3 sm:hidden">
    <dt class="font-bold">Datum:</dt>
    <dd>
      {{ if dates:start == dates:end }}
      {{ dates.start | format('d.m.y') }}
      {{ else }}
      {{ dates.start | format('d.m') }} - {{ dates.end | format('d.m.y') }}
      {{ /if }}
    </dd>
    <dt class="font-bold">Event:</dt>
    <dd>{{ title }}</dd>


    <dt class="font-bold">Ort:</dt>
    <dd>{{ location }}</dd>

    <dt class="font-bold">Wer:</dt>
    <dd>{{ groups }}</dd>

  </dl>
</a>
