<footer class="bg-secondary text-primary py-4 h-60 md:h-30 flex px-5">
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-5">
    <div>
      <h4>Links</h4>
      <ul>
        {{ nav:footer }}
        <li>
          <a href="{{ url }}" class="hover:text-primary/80">{{ title }}</a>
        </li>
        {{ /nav:footer }}
      </ul>
    </div>
    <div></div>
    <div>
      <h4>Kontakt</h4>
      <div>Bezirksturnverband Waldenburg</div>
      <a class=" hover:text-primary/80 flex" href="mailto:info@btvwaldenburg.ch">
        <i class="fa-sharp fa-thin fa-envelope mr-2 my-auto"></i>
        info@btvwaldenburg.ch
      </a>
    </div>
  </div>
</footer>
