<div class="border border-gray-200 shadow-lg flex flex-col rounded-xl overflow-hidden w-60">
  <div class="relative group size-60 flex">
    {{ if images }}
      <img src="{{ images:0 }}" alt="{{ title }}" class="w-full h-full object-cover group-hover:hidden aspect-square">
      <img src="{{ images:1  }}" alt="{{ title }}" class="w-full h-full object-cover hidden group-hover:block aspect-square">
    {{ else }}
      <i class="fas fa-thin fa-user text-9xl m-auto"></i>
    {{ /if }}
  </div>
  <div class="bg-primary text-secondary px-4 py-2 font-semibold">{{title}}</div>
  <div class="px-4 py-2">
    <ul class="list-disc list-inside">
      {{ functions }}
        <li>{{ value }}</li>
      {{ /functions }}
    </ul>
  </div>
</div>
