<nav class="flex justify-between items-center px-5 h-14 bg-primary text-secondary">
    <div class="container mx-auto h-full flex items-center">
        <a class="h-full flex items-center" href="/">
            {{ assets }}
            <img src="https://btv.test/assets/logo.webp" alt="{{ alt }}" class="h-10" />
            {{ /assets }}
        </a>
        <ul class="flex h-full grow justify-end">
            {{ nav:main }}
            <li class="{{ if is_current }}bg-secondary text-primary{{ /if }} hover:text-primary hover:bg-secondary transition-all">
                <a class="h-full flex items-center px-4 font-semibold" href="{{ url }}">{{ title }}</a>
            </li>
            {{ /nav:main }}
        </ul>
    </div>
</nav>
