@import "tailwindcss";

@theme {
  --color-primary: #FFD700;
  --color-secondary: #121212;
  --font-sans: "Montserrat", sans-serif;
}

h1 {
  color: var(--color-secondary);
  font-family: "Cal Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
}

h2 {
  color: var(--color-secondary);
  font-family: "Cal Sans", sans-serif;
  font-size: 1.75rem;
  font-weight: semibold;
}

h3 {
  color: var(--color-secondary);
  font-family: "Cal Sans", sans-serif;
  @apply text-xl sm:text-2xl;
  font-weight: semibold;
}

h4 {
  font-family: "Cal Sans", sans-serif;
  @apply text-lg sm:text-xl;
  font-weight: medium;
}

.news-content p {
  @apply line-clamp-2;
}

nav .current {
  @apply font-bold border-b-3
}
